missing value

In [2]:
import pandas as  pd
import numpy as np

In [22]:
missing_values = [" "]
diabet =pd.read_csv("diabet.csv",na_values= missing_values)
diabet

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6,148,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137,40.0,35.0,168.0,43.1,2.288,33,1
5,5,116,74.0,NaN,NaN,25.6,0.201,30,0
6,3,78,50.0,32.0,88.0,31.0,0.248,26,1
7,10,115,NaN,NaN,NaN,35.3,0.134,29,0
8,2,197,70.0,45.0,543.0,30.5,0.158,53,1
9,8,125,96.0,NaN,NaN,NaN,0.232,54,1
10,4,110,92.0,NaN,NaN,37.6,0.191,30,0
11,10,168,74.0,NaN,NaN,38.0,0.537,34,1
12,10,139,80.0,NaN,NaN,27.1,1.441,57,0
13,1,189,60.0,23.0,846.0,30.1,0.398,59,1
14,5,166,72.0,19.0,175.0,25.8,0.587,51,1
15,7,100,NaN,NaN,NaN,30.0,0.484,32,1
16,0,118,84.0,47.0,230.0,45.8,0.551,31,1
17,7,107,74.0,NaN,NaN,29.6,0.254,31,1
18,1,103,30.0,38.0,83.0,43.3,0.183,33,0
19,1,115,70.0,30.0,96.0,34.6,0.529,32,1

two solution for handle missing values : 

1-remove the row/s which has/have missing values

2-filling out the missing values

In [28]:
diabet.dropna(axis=0, inplace=True,how="any" ) #rows deleted that has nan value
diabet

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
3,1,89,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137,40.0,35.0,168.0,43.1,2.288,33,1
6,3,78,50.0,32.0,88.0,31.0,0.248,26,1
8,2,197,70.0,45.0,543.0,30.5,0.158,53,1
13,1,189,60.0,23.0,846.0,30.1,0.398,59,1
14,5,166,72.0,19.0,175.0,25.8,0.587,51,1
16,0,118,84.0,47.0,230.0,45.8,0.551,31,1
18,1,103,30.0,38.0,83.0,43.3,0.183,33,0
19,1,115,70.0,30.0,96.0,34.6,0.529,32,1


inplace :همین تغییرات رو روی همین دیتا فریم ایجاد کن

how="any" : سطری رو پاک کن که حداقل یک nan  داشته باشد

how="all" : هر سطری که همه مقادیر ان nan دارد رار حذف کن 

axis = 0 :  سطر 

axis = 1 :  ستون

filling with median , mode , mean :

In [29]:
diabet["Diastolic_BP"].fillna(diabet["Diastolic_BP"].median(),inplace=True)
diabet

C:\Users\ofogh\AppData\Local\Temp\ipykernel_12544\1017914525.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  diabet["Diastolic_BP"].fillna(diabet["Diastolic_BP"].median(),inplace=True)

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
3,1,89,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137,40.0,35.0,168.0,43.1,2.288,33,1
6,3,78,50.0,32.0,88.0,31.0,0.248,26,1
8,2,197,70.0,45.0,543.0,30.5,0.158,53,1
13,1,189,60.0,23.0,846.0,30.1,0.398,59,1
14,5,166,72.0,19.0,175.0,25.8,0.587,51,1
16,0,118,84.0,47.0,230.0,45.8,0.551,31,1
18,1,103,30.0,38.0,83.0,43.3,0.183,33,0
19,1,115,70.0,30.0,96.0,34.6,0.529,32,1